<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
</head>
<body>
    <form action="#" th:action="@{'/profile-directory/upload-file/'}" th:object="${file}" method="post", enctype="multipart/form-data">
        <input type="hidden" name="filePath" th:value="${#request.queryString}">
        <br>
        <input type="file" name="theFile">
        <br>
        <input type="submit" value="Upload">
        <input type="reset" value="Reset" />
    </form>
</body>
</html>